body{
  background-color:#181818;
}

#tabs{
  background-color:#FAF3DD;
  height:60em;
  width:90%;
  margin:auto;
}

.tab{
}

#main-body{
  background-color:#FAF3DD;
  height:35em;
  display:flex;
}

#tab-bar{
  width:100%;
  height:5em;
  background-color:#84C0C6;
}

#canvas{
  flex:2;
  height:100%;
  background-color:#707070;
  border-radius: 2px;
}

.user{
}

#users{
  height:100%;
  background-color:#FFA69E;
  border-radius:3px;
  height:30em;
  position:fixed;
  top:6em;
  right:5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.video-container{

}

.video{

}


#application{
}

#footer-bar{
  margin-top:10px;
  display:flex;
}

#chat-box{
  height:15em;
  flex:2;
  background-color:#404040;
}

#mini-app-box{
  flex:1;
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-content:center;
  height:15em;
}

.mini-app-button{
  margin:4px;
  border-radius: 5px;
  width:5em;
  height:5em;
  background-color:#FFA69E;
}

